
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - test.leo.io
  resources:
  - leopods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - test.leo.io
  resources:
  - leopods/finalizers
  verbs:
  - update
- apiGroups:
  - test.leo.io
  resources:
  - leopods/status
  verbs:
  - get
  - patch
  - update
